<ul
  class="nav col-12 col-md-auto mb-2 mb-md-0 d-flex flex-column flex-lg-row justify-content-center"
  aria-label="Main navigation"
>
  @for (link of navShowList(); track link.label) {
    <li class="nav-item">
      <a
        [routerLink]="link.path"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [attr.aria-current]="rla.isActive ? 'page' : null"
        class="nav-link px-2 d-flex align-items-center"
      >
        <i class="bi bi-{{ link.icon }} me-1" aria-hidden="true"></i>
        {{ link.label | translate }}
      </a>
    </li>
  }
</ul>
