<div
  class="modal fade"
  [class.show]="showCategoryDialog()"
  [style.display]="showCategoryDialog() ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title">
          {{ 'GAME_FIELD.CATEGORY_CONFIRM_MODAL.TITLE' | translate: { categoryName: selectedCategory()?.title } }}
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeCategoryDialog.emit()">
          {{ 'GAME_FIELD.CATEGORY_CONFIRM_MODAL.CANCEL_BUTTON' | translate }}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onCategorySelectDialogClose.emit(selectedCategory()!)"
        >
          {{ 'GAME_FIELD.CATEGORY_CONFIRM_MODAL.CONFIRM_BUTTON' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
