<section class="about-us-page">
  <div class="container">
    <h1 class="text-center mb-5 fw-bold">
      <span class="bi bi-people-fill me-3"></span>{{ 'ABOUT_US.TITLE' | translate }}
    </h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      @for (student of translatedStudents; track student.name) {
        <div class="col">
          <div class="card h-100 border-0 shadow-sm">
            <div
              class="card-body text-center p-4 d-flex flex-column align-items-center justify-content-between gap-2"
            >
              <div>
                <img
                  [src]="student.img"
                  [alt]="student.name"
                  class="rounded-circle"
                  style="width: 120px; height: 120px; object-fit: cover"
                />
              </div>
              <h4
                class="col-auto card-title fw-bold m-0 d-flex align-items-center"
                style="height: 60px"
              >
                {{ student.name }}
              </h4>
              <p class="card-subtitle m-0">{{ student.role }}</p>

              <p
                class="col-auto card-text text-muted m-0 mb-3 flex-grow-1 d-flex align-items-center"
                style="min-height: 250px"
              >
                {{ student.description }}
              </p>

              <div
                class="col-auto text-center d-flex flex-column justify-content-center"
                style="min-height: 60px"
              >
                <div class="d-flex flex-wrap align-items-center justify-content-center gap-2">
                  @for (task of student.task; track $index) {
                    <span class="badge bg-secondary"> {{ task }} </span>
                  }
                </div>
              </div>

              <div class="mt-auto">
                <a
                  href="{{ student.linGit }}"
                  target="_blank"
                  class="btn btn-outline-dark btn-sm d-flex gap-2"
                >
                  <span class="bi bi-github"></span>{{ 'ABOUT_US.GITHUB_PROFILE' | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
