<section class="about-us-page">
  <div class="container">
      <h1 class="text-center mb-5 fw-bold">
        <span class="bi bi-people-fill me-3"></span>Our Development
      </h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      @for (student of students; track student.name) {
        <div class="col">
          <div class="card h-100 border-0 shadow-sm">
            <div
              class="card-body text-center p-4 d-flex flex-column align-items-center justify-content-between gap-2"
            >
              <div class="mb-3">
                <img
                  [src]="student.img"
                  [alt]="student.name"
                  class="rounded-circle"
                  style="width: 120px; height: 120px; object-fit: cover"
                />
              </div>
              <h4 class="card-title fw-bold m-0">{{ student.name }}</h4>
              <p class="card-subtitle m-0">{{ student.role }}</p>

              <p class="card-text text-muted m-0 flex-grow-1">{{ student.description }}</p>

              <div class="mb-4">
                <div class="d-flex flex-wrap align-items-center justify-content-center gap-2">
                  @for (task of student.task; track $index) {
                    <span class="badge bg-secondary"> {{ task }} </span>
                  }
                </div>
              </div>

              <div class="mt-auto">
                <a
                  href="{{ student.linGit }}"
                  target="_blank"
                  class="btn btn-outline-dark btn-sm d-flex gap-2"
                >
                  <span class="bi bi-github"></span>GitHub Profile
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
