<app-video></app-video>

<div class="text-center">
  <section class="text-center py-5">
    <h1 class="display-5 fw-bold">{{ 'HOME.TITLE' | translate }}</h1>
    <p class="lead mb-4">{{ 'HOME.SUBTITLE' | translate }}</p>
    <button class="btn btn-success btn-lg" [routerLink]="['/game']">
      {{ 'HOME.PLAY_BUTTON' | translate }}
    </button>
  </section>

  <section class="container py-5 text-center">
    <div class="rules">
      @for (rule of 'HOME.RULES' | translate; track $index; let i = $index) {
        <p class="rule" [style.animation-delay]="i * 0.5 + 's'" [style.margin-left]="i + 'rem'">
          {{ rule }}
        </p>
      }
    </div>
  </section>
</div>
