.password-input-wrapper {
  position: relative;
  margin-bottom: 1rem;

  .password-input {
    padding-right: 2.5rem;
  }

  .password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:focus {
      outline: none;
    }

    i {
      font-size: 1rem;
    }
  }

}
