<div class="password-input-wrapper">
  <input
    [type]="'password' | showPassword: showPassword()"
    [formControl]="control"
    class="form-control password-input"
    placeholder="Min 6 chars, at least 1 digit"
    [attr.aria-describedby]="errorId"
    required
  />

  <button
    type="button"
    class="password-toggle-btn"
    (click)="togglePassword()"
    tabindex="-1"
  >
    <i class="bi" [ngClass]="showPassword() ? 'bi-eye-slash' : 'bi-eye'"></i>
  </button>
</div>

@if (control.touched && control.invalid) {
  <div class="text-danger" [id]="errorId">
    {{ getErrorMessage(control, 'Password') }}
  </div>
}
