<div class="card">
  <div class="card-header bg-primary">
    <h5 class="m-0">Create new Category</h5>
  </div>

  <div class="card-body">
    <form
      [formGroup]="categoryForm"
      (ngSubmit)="createCategory()"
      class="d-flex flex-column gap-2 mb-3"
    >
      <label for="categoryName" class="fs-5 m-0">Category name</label>
      <input
        id="categoryName"
        type="text"
        class="form-control"
        formControlName="categoryName"
        placeholder="Enter category name"
        required
      />

      <button type="submit" class="btn btn-primary" [disabled]="!canCreateCategory()">
        Create category
      </button>

      @if (selectedTracks().length < 8) {
        <p class="text-danger text-center m-0">Select at least 8 tracks to create a category</p>
      }
    </form>
    <div class="card">
      <div class="card-header bg-info">
        <h5 class="m-0">Selected Tracks ({{ getSelectedCount() }})</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-center gap-3">
          @for (track of selectedTracks(); track track.trackId) {
            <button
              type="button"
              class="card d-flex flex-column align-items-center justify-content-between bg-light pt-2 px-0"
              style="width: 150px; height: 200px; font-size: 15px"
              (click)="onTrackSelect(track)"
            >
              @if (track.artworkUrl60) {
                <img
                  [src]="track.artworkUrl60"
                  [alt]="track.trackName"
                  class="card-img rounded-3"
                  style="width: 60px; height: 60px"
                />
              }

              <p class="card-title">{{ track.trackName | lineLimiter: 30 }}</p>
              <p class="card-subtitle">{{ track.artistName | lineLimiter: 30 }}</p>

              <span
                class="btn w-100"
                [class.bg-success]="track.isSelected"
                [class.bg-primary]="!track.isSelected"
              >
                {{ track.isSelected ? 'Selected' : 'Add' }}
              </span>
            </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
