<div class="card shadow">
  <div class="card-header bg-primary">
    <h5 class="m-0 text-white">
      <i class="bi bi-list-check me-2"></i>
      Create new Category
    </h5>
  </div>

  <div class="card-body">
    <form [formGroup]="categoryForm" (ngSubmit)="createCategory()" class="d-flex flex-column gap-2 mb-3">
      <label for="categoryName" class="fs-5 m-0">Category name</label>
      <input id="categoryName" type="text" class="form-control" formControlName="categoryName"
        placeholder="Enter category name" required />

      <button type="submit" class="btn btn-primary" [disabled]="!canCreateCategory()">
        Create category
      </button>

      @if (selectedTracks().length < 8) { <p class="alert alert-info">Select at least 8 tracks to create a category</p>
        }
    </form>
    <div class="card">
      <div class="card-header bg-success">
        <h5 class="m-0">Selected Tracks ({{ getSelectedCount() }})</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-center gap-3">
          @for (track of selectedTracks(); track track.trackId) {
          <button type="button" class="card d-flex flex-column justify-content-between pt-2 px-0"
            style="width: 150px; height: 250px; font-size: 15px" (click)="onTrackSelect(track)">
            <div class="card-body d-flex flex-column align-items-center justify-content-between gap-1">
              @if (track.artworkUrl60) {
              <img [src]="track.artworkUrl60" [alt]="track.trackName" class="card-img rounded-3"
                style="width: 60px; height: 60px" />
              }

              <p class="card-title">{{ track.trackName | lineLimiter: 30 }}</p>
              <p class="card-subtitle">{{ track.artistName | lineLimiter: 30 }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <span class="btn btn-outline-danger btn-sm w-100">
                <i class="bi bi-trash me-1"></i>
                Remove
              </span>
            </div>
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>