<div
  class="modal fade"
  #finishModal
  tabindex="-1"
  [class.show]="showFinishDialog()"
  [style.display]="showFinishDialog() ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex">
        <h5>Score: {{ score() }}</h5>
      </div>
      <div class="modal-body d-flex flex-column gap-3">
        <h5 class="modal-title">Track in category is over. Choose another category</h5>
        <div class="d-flex flex-wrap gap-2">
          @for (category of categories(); track category.id) {
            <span
              class="badge bg-primary badge-hover"
              (click)="onCategorySelected.emit(category); closeDialog.emit()"
            >
              {{ category.title }}
            </span>
          }
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onExit(); closeDialog.emit()">
          Exit
        </button>
      </div>
    </div>
  </div>
</div>
