<div class="categories">
  <h5 class="mb-3">Categories</h5>
  <div class="d-flex flex-wrap gap-2">
    @for (category of categories(); track category.id) {
      <span
        class="badge badge-hover btn-outline-secondary"
        [class.badge-success]="currentCategory()?.id === category.id"
        [class.bg-primary]="currentCategory()?.id !== category.id"
        (click)="onCategorySelected(category)"
      >
        {{ category.title }}
      </span>
    }
  </div>
</div>

<div class="container py-4">
  <div class="d-flex justify-content-around gap-2 flex-wrap">
    @if (currentCategory()) {
      <h5>
        <span>Current category: </span>
        <span>{{ currentCategory()?.title }}</span>
      </h5>
    }
    <h5 class="text-center mb-3">
      <span>Song: </span>
      <span>
        <span>{{ currentTrackIndex() + 1 }}</span> / <span>{{ currentTracks().length }}</span></span
      >
    </h5>
    <h5 class="text-center mb-3">
      <span>Score: </span>
      <span>{{ scoreCounter.score() }}</span>
    </h5>
  </div>

  <div id="waveform" class="waveform">
    @if (!currentTrack()) {
      <div class="waveform-placeholder">
        <div class="waveform-placeholder__line"></div>
        <div class="waveform-placeholder__line"></div>
        <div class="waveform-placeholder__line"></div>
        <div class="waveform-placeholder__line"></div>
        <div class="waveform-placeholder__line"></div>
      </div>
    }
  </div>
  <div class="text-center mb-3">
    <div class="text-center mb-3">
      <span>⏱ Current time:</span>
      <span> {{ wavesurfer.currentTime() }}s</span>
    </div>
    <div class="mt-4 text-center">
      <button class="btn btn-primary me-2" (click)="onPlay()" [disabled] = isPlaying()>Play</button>
    </div>

    <div class="mt-4 text-center">
      <h6>What's the name of this song?</h6>
      <div class="d-flex justify-content-center gap-2 flex-wrap">
        @for (track of trackNames(); track track) {
          <button
            class="btn btn-outline-primary"
            (click)="onAnswerSelected(track)"
            [disabled]="!isPlaying()"
          >
            {{ track }}
          </button>
        }
      </div>
    </div>
    <div class="mt-4 text-center">
      <button class="btn btn-danger" (click)="onDontKnowClick()">I don't know</button>
    </div>
    <app-result-modal
      [showResultDialog]="showResultDialog()"
      [isCorrectSignal]="isCorrect()"
      [currentTrack]="currentTrack()"
      (closeDialog)="closeDialog()"
    ></app-result-modal>
    <app-finish-modal
      [showFinishDialog]="showFinishDialog()"
      [categories]="categories()"
      (onCategorySelected)="onCategorySelected($event)"
      (closeDialog)="closeFinishDialog()"
      [score]="scoreCounter.score()"
    ></app-finish-modal>
    <app-category-confirm-modal
      [showCategoryDialog]="showCategoryDialog()"
      [selectedCategory]="selectedCategory()"
      (onCategorySelectDialogClose)="onCategorySelectDialogClose($event)"
      (closeCategoryDialog)="closeCategoryDialog()"
    ></app-category-confirm-modal>
  </div>
</div>
@if (showResultDialog() || showFinishDialog() || showCategoryDialog()) {
  <div class="modal-backdrop fade show"></div>
}
