.video-wrap {
  position: fixed;   /* фиксируем на весь экран */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1000;
}

.custom-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-body-bg);
  opacity: 0.5;
  z-index: -10;
  pointer-events: none;
}