<div class="card">
  <div class="card-header bg-primary">
    <h5 class="m-0">Search Songs</h5>
  </div>
  <div class="card-body">
    <div class="input-group mb-3">
      <button class="btn btn-primary input-group-text" type="button" (click)="onSearchInput()">
        <span class="bi bi-search"></span>
      </button>
      <input
        type="text"
        class="form-control"
        [disabled]="isSearching()"
        [(ngModel)]="searchQuery"
        [placeholder]="isLoading() ? 'Searching...' : 'Enter name track to search'"
        (keydown.enter)="onSearchInput()"
      />
      @if (searchQuery()) {
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="clearSearch()"
          [disabled]="isLoading()"
        >
          <span class="bi bi-x"></span>
        </button>
      }
    </div>

    @if (isLoading()) {
      <div class="text-center">
        <div class="spinner-border" role="status"></div>
        <p>Searching...</p>
      </div>
    }

    @if (tracks().length > 0 && !isLoading()) {
      <div class="d-flex flex-wrap justify-content-center gap-3">
        @for (track of tracks(); track track.trackId) {
          <button
            type="button"
            class="card d-flex flex-column align-items-center justify-content-between bg-light pt-2 px-0"
            style="width: 200px; height: 220px"
            (click)="onTrackSelect(track)"
          >
            @if (track.artworkUrl60) {
              <img
                [src]="track.artworkUrl60"
                [alt]="track.trackName"
                class="card-img rounded-3"
                style="width: 60px; height: 60px"
              />
            }

            <p class="card-title">{{ track.trackName | lineLimiter: 30 }}</p>
            <p class="card-subtitle">{{ track.artistName | lineLimiter: 30 }}</p>

            <span
              class="btn w-100"
              [class.bg-success]="track.isSelected"
              [class.bg-primary]="!track.isSelected"
            >
              {{ track.isSelected ? 'Selected' : 'Add' }}
            </span>
          </button>
        }
      </div>
    }

    @if (tracks().length === 0 && searchQuery() && !isLoading() && isSearching()) {
      <div class="text-center">
        <span class="bi bi-search"></span>
        <p>No tracks found for {{ searchQuery() }}</p>
      </div>
    }
  </div>
</div>
