<div class="modal fade" [class.show]="showCategoryDeleteDialog()"
  [style.display]="showCategoryDeleteDialog() ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title text-center">Do you delete this category?</h5>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between gap-2 w-100">
          <button type="button" class="btn btn-primary bg-danger w-100" (click)="closeCategoryDialog.emit()">
            Cancel
          </button>
          <button type="button" class="btn btn-primary bg-success w-100"
            (click)="onCategorySelectDelete.emit(selectedCategory())">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
