<div
  class="modal fade"
  role="dialog"
  aria-modal="true"
  [attr.aria-labelledby]="'category-delete-title'"
  [class.show]="showCategoryDeleteDialog()"
  [style.display]="showCategoryDeleteDialog() ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 id="category-delete-title" class="modal-title text-center" aria-live="polite">
          {{ 'GAME_FIELD.CATEGORY_DELETE_MODAL.TITLE' | translate }}
        </h5>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between gap-2 w-100">
          <button
            type="button"
            class="btn btn-primary bg-danger w-100"
            (click)="closeCategoryDialog.emit()"
            aria-label="{{ 'GAME_FIELD.CATEGORY_DELETE_MODAL.CANCEL_BUTTON' | translate }}"
          >
            {{ 'GAME_FIELD.CATEGORY_DELETE_MODAL.CANCEL_BUTTON' | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary bg-success w-100"
            (click)="onCategorySelectDelete.emit(selectedCategory())"
            aria-label="{{ 'GAME_FIELD.CATEGORY_DELETE_MODAL.CONFIRM_BUTTON' | translate }}"
          >
            {{ 'GAME_FIELD.CATEGORY_DELETE_MODAL.CONFIRM_BUTTON' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
